@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Bai+Jamjuree:wght@300&family=Monoton&family=Montserrat:wght@200&family=Orbitron&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Monoton&family=Montserrat:wght@200&family=Orbitron&family=Syncopate&display=swap');


.App {
  width: 95%;
  font-family: 'Bai Jamjuree', sans-serif;

}

body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgba(136, 155, 58, 0.235); */
}

.header-flex {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  opacity: 0.8;
  margin-top: 10vh;
}


.header-first {
  font-size: 10vw;

}

.header-last {
  margin-top: -1vh;
  margin-bottom: 4vh;
  font-size: 5vw;
  z-index: 20;
}

.circle-four img {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  border: 2px dashed rgba(19, 19, 18, 0.258);
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-top: -15vh;

}

.section-header {
  font-size: 2vh;
}

.dotted-left {
  display: flex;
  align-items: flex-start;
  width: 60vw;
  height: 10vw;
  color: rgba(0, 0, 0, 0.5);
  border-top: 2px dotted rgba(0, 0, 0, 0.366);
  padding: 0.5vw 0 0 1vw;
  margin-top: 10vw;
}

.stack-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30vw;
  position: relative;
  margin-top: 5vh;

}

.top {
  grid-column: 6/10;
  grid-row: 1;
  z-index: 1;
}

.project {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  font-size: 4vh;
  margin-top: 10vw;
}

.left {
  grid-column: 4/7;
  grid-row: 1;
  opacity: 0.5;
  padding-top: 2vh;

}

.right {
  grid-column: 8/11;
  grid-row: 1;
  opacity: 0.3;
  margin-top: 2vh;
}

section img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  ;

}

section img:hover {
  z-index: 5;
  opacity: 1;

}






/* .top {
  position: absolute;
  z-index: 1;
  width: 30vw;
  top: 0;
  left: 0;
  /* grid-column: 1/span 6;
  grid-row: 1;

  z-index: 1; */
/* 
} */

/* .middle {
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: 30vw;
  top: 0;
  left: 300px;
}

.bottom {
  position: absolute;
  z-index: 0;
  width: 45vw;
  top: 5px;
  left: 100px;
  /* grid-column: 4/-1;
  grid-row: 1; */
/* } */



/* .stack-container img {
  object-fit: cover;



} */

/* img .home {
  width: 20%;
  object-fit: cover;
}

.mid img {
  width: 250px;

  object-fit: cover
} */