@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Bai+Jamjuree:wght@300&family=Monoton&family=Montserrat:wght@200&family=Orbitron&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Monoton&family=Montserrat:wght@200&family=Orbitron&family=Syncopate&display=swap');


.App {
  width: 95%;
  font-family: 'Bai Jamjuree', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  height: 97%;
  width: 97%;
  margin: 1em;
  background-color: beige;
  font-family: 'Montserrat', sans-serif;

  /* background-color: rgba(136, 155, 58, 0.235); */
}

footer {
  text-align: center;
}

.header-flex {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  opacity: 0.8;
  margin-top: 10vh;
  margin-left: 2vh;
}



.header-first {
  font-size: 7vw;
  z-index: 1;
  text-decoration: line-through;
  text-decoration: rgba(218, 165, 32, 0.6) 2px dotted line-through;
}

.header-last {

  margin-bottom: 4vh;
  font-size: 3vw;
  z-index: 20;
  text-decoration: rgba(218, 165, 32, 1) 2px dotted line-through;
}

.circle-four img {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  border: 2px dashed rgba(19, 19, 18, 0.258);
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-top: -15vh;

}

.section-header {
  font-size: 3vh;
}

.dotted-left {
  display: flex;
  align-items: flex-start;
  width: 60vw;
  height: 10vw;
  color: rgba(0, 0, 0, 0.5);
  border-top: 2px dotted rgba(0, 0, 0, 0.366);
  padding: 0.5vw 0 0 1vw;
  margin-top: 5vw;
}

.stack-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 27vw;
  position: relative;
  margin-top: 5vh;
  flex-wrap: wrap;

}

.top {
  grid-column: 7/11;
  grid-row: 1;
  z-index: 1;
  opacity: 0.9;
}

.project {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;

  align-items: center;
  font-size: 2vw;
  font-weight: 900;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/span 3;
  grid-row: 1/1;
  text-align: center;

}

details[open] summary span.exp {
  transform: rotate(180deg);
  padding-left: 2vw;
}

summary {
  display: flex;
  cursor: pointer;
}

.exp {
  padding-left: 2vw;
}

.left {
  grid-column: 5/8;
  grid-row: 1;
  opacity: 0.5;
  padding-top: 0.5vw;

}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -2vh;

}

.socials a {
  color: black;
}

.about div {
  font-size: 1.75vh;
  width: 90vw;
  margin-bottom: 2vh;
  text-align: center;
  line-height: 2vh;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 0.7vh;
}

/* .about span {
  font-size: 1.5vh;
  text-align: left;
} */

.right {
  grid-column: 9/12;
  grid-row: 1;
  opacity: 0.3;
  margin-top: 0.5vw;
}

section img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  ;
  transition: opacity 0.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;

}

.dotted-left-adj {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 20vw;
  height: 6vw;
  color: rgba(0, 0, 0, 0.5);
  border-top: 2px dotted rgba(0, 0, 0, 0.366);
  padding: 0.5vw 0 0 1vw;
}

section img:hover {
  z-index: 5;
  opacity: 1;
  transform: scale(1.4);
  transform: translateY(-3vh);

}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  justify-content: space-evenly;

}

.footer-socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  justify-content: center;


}

.footer-socials i {
  font-size: 3vh;
  padding: 2vh;
  color: black;


}

.socials i {

  font-size: 3vh;
  padding: 2vh;
}

.tech i {
  font-size: 2vh;
  padding: 1vh;
}

.hobby div {
  z-index: 5;
  background-color: rgba(218, 165, 32, 1);
  width: 25vw;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.section-hobby {
  height: 100vh;
}

a {
  cursor: pointer;
}

button {
  font-family: 'Montserrat', sans-serif;
  padding: 1vh 0vw 1vh 0;
  margin-top: 1vh;
  border: none;

  width: 15vw;
  background-color: rgba(97, 134, 189, 0.312);

}

.socials li {
  display: flex;

  list-style: none;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  list-style: none;
  align-items: flex-start;
  justify-content: flex-end;

}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 1.75vw;
  padding: 0 2vw 0 2vw;
  font-weight: 900;
}





/* .slider {

  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 5bpx;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 300px;
  border-radius: 10px;

} */

/* .slider::before,
::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

::before {
  left: 0;
  top: 0;
} */

/* .slide-track {
  animation: scroll 50s ease-in-out infinite;
  display: flex;
  width: calc(250px * 14);

}

.word {
  font-size: 2vh;
  color: black;
} */


/* .slide {
  height: 50px;
  width: 250px;
  font-size: 4vh;
  padding-top: 2vh;

} */

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-250px * 7))
  }
}



.box {
  height: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;

}

.box::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.box::before::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.hello {
  font-size: 2vh;
  text-align: center;

}

/* div span {
  font-size: 3vh;
  text-align: center;

} */


.dot-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 10vh;
  width: 1vw;
  border-left: 2px dotted rgba(0, 0, 0, 0.5);
  font-size: 3vh;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1px;
  margin-top: 2vh;



}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  width: 10px;
  height: 10px;
  margin: 5px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}




ul {
  margin: 0;
  padding: 0;
  animation: scrollUp 2.0s .16s infinite forwards;
}

li {
  opacity: 1;
  height: 25px;
  padding: 10px;
  list-style: none;
  animation: scrollUp 2.0s .16s infinite forwards;
}

:root {
  --item-count: 6;
  --item: 1 / --item-count
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY((-100% / var(--item-count)) * (var(--item-count) - 1));
  }
}

.scroll-container {
  display: flex;
  justify-content: center;
}

.scroller {
  display: flex;
  justify-content: center;
  height: 3vw;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 30vw;
  font-size: 2.5vw;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding: 0;

}



.arduino {
  width: 15px;
  height: 15px;
  background-size: contain;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fcomputer-and-hardware-18%2F32%2FArduino_circuit_computer_device_electronics-128.png&f=1&nofb=1&ipt=372849b9cbc8e51d24017b004da1555aa06d5b2e9b72b24e0248c4f46dac2b04&ipo=images")
}

.top-nav {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}

.motto {
  margin-top: -5vh;
  text-align: center;
  font-size: 1.5vw;
  color: rgba(218, 165, 32, 1);
}

.scroller span {
  position: absolute;
  top: 0;

  animation: slide 20s infinite;
  font-weight: bold;
  color: goldenrod;
  text-align: center;



}





.dev {
  text-align: center;
  font-size: 3vh;
  margin-top: 2vh;
  text-shadow: 5px 0 15px #878786d2;
}

@keyframes slide {
  0% {
    top: 0;
  }

  10% {
    top: -1.2em;
  }

  20% {
    top: -2.4em;
  }

  30% {
    top: -3.6em;
  }

  40% {
    top: -4.8em;
  }

  50% {
    top: -6.0em;
  }

  60% {
    top: -7.2em;
  }

  70% {
    top: -8.4em;
  }

  80% {
    top: -9.6em;
  }

  90% {
    top: -10.8em;
  }


}





.hobby {
  display: flex;
  flex-direction: column;

  width: 25vh;
  height: 25vh;

}

.light-slider li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container img {
  width: 30vw;
  height: 25vw;

  object-fit: cover;
  border-radius: 10px;

}

.slider {
  width: 52vw;
  height: 30vw;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  text-align: center;
  overflow: hidden;
}


.image-container {
  width: 2800vw;

  height: 25vw;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slide {
  display: flex;
  justify-content: space-evenly;
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.caption {
  display: flex;

  align-items: center;
  width: 20vw;
  height: 20vw;
  padding-right: 2vw;
}

#slide-1:target~.image-container {
  left: 0px;
}

#slide-2:target~.image-container {
  left: -52vw;
}

#slide-3:target~.image-container {
  left: -104vw;
}

#slide-4:target~.image-container {
  left: -156vw;
}

#slide-5:target~.image-container {
  left: -208vw;
}

#slide-6:target~.image-container {
  left: -260vw;
}

#slide-7:target~.image-container {
  left: -312vw;
}

.buttons {
  position: relative;
  top: -20px;
}

.connect {
  text-align: center;
}

.buttons a {
  margin-top: 4vh;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: rgb(202, 211, 119);

  text-decoration: none
}

.tooltip {
  position: relative;
  display: inline-block;

  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -3vh;
  left: 0vw;
  /* margin-left: -60px; */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
/* .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}