@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Bai+Jamjuree:wght@300&family=Monoton&family=Montserrat:wght@200&family=Orbitron&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Monoton&family=Montserrat:wght@200&family=Orbitron&family=Syncopate&display=swap');


.App {
  width: 95%;
  font-family: 'Bai Jamjuree', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;

  /* background-color: rgba(136, 155, 58, 0.235); */
}

.header-flex {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  opacity: 0.8;
  margin-top: 10vh;
  margin-left: 2vh;
}



.header-first {
  font-size: 7vw;
  z-index: 1;
  text-decoration: line-through;
  text-decoration: rgba(218, 165, 32, 0.6) 2px dotted line-through;
}

.header-last {

  margin-bottom: 4vh;
  font-size: 3vw;
  z-index: 20;
  text-decoration: rgba(218, 165, 32, 1) 2px dotted line-through;
}

.circle-four img {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  border: 2px dashed rgba(19, 19, 18, 0.258);
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-top: -15vh;

}

.section-header {
  font-size: 2vh;
}

.dotted-left {
  display: flex;
  align-items: flex-start;
  width: 60vw;
  height: 10vw;
  color: rgba(0, 0, 0, 0.5);
  border-top: 2px dotted rgba(0, 0, 0, 0.366);
  padding: 0.5vw 0 0 1vw;
  margin-top: 10vw;
}

.stack-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30vw;
  position: relative;
  margin-top: 5vh;

}

.top {
  grid-column: 7/11;
  grid-row: 1;
  z-index: 1;
  opacity: 0.9;
}

.project {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  font-size: 4vh;
  align-items: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/span 3;
  grid-row: 1;
  text-align: center;

}

.left {
  grid-column: 5/8;
  grid-row: 1;
  opacity: 0.5;
  padding-top: 2vh;

}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -2vh;

}

.socials a {
  color: black;
}

.about div {
  font-size: 1.75vh;
  width: 90vw;
  margin-bottom: 2vh;
  text-align: justify;
  line-height: 2vh;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 0.7vh;
}

/* .about span {
  font-size: 1.5vh;
  text-align: left;
} */

.right {
  grid-column: 9/12;
  grid-row: 1;
  opacity: 0.3;
  margin-top: 2vh;
}

section img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  ;

}

.dotted-left-adj {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 20vw;
  height: 6vw;
  color: rgba(0, 0, 0, 0.5);
  border-top: 2px dotted rgba(0, 0, 0, 0.366);
  padding: 0.5vw 0 0 1vw;
}

section img:hover {
  z-index: 5;
  opacity: 1;
  transform: scale(1.4);
  transform: translateY(-3vh)
}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
}

.socials i {

  font-size: 3vh;
  padding: 2vh;
}

.tech i {
  font-size: 2vh;
  padding: 1vh;
}

button {
  font-family: 'Montserrat', sans-serif;
  padding: 1vh 0 1vh 0;
  margin-top: 1vh;
  border: none;
  background-color: rgba(97, 134, 189, 0.312);

}

.socials li {
  display: flex;

  list-style: none;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

ul {
  display: flex;

  list-style: none;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

li {
  /* text-orientation: sideways;
  writing-mode: vertical-lr; */
  font-size: 1.5vh;
  font-weight: 900;

  letter-spacing: 0.1;
  margin: 1vh 0 0vh 2vh;


}

/* .slider {

  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 5bpx;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 300px;
  border-radius: 10px;

} */

/* .slider::before,
::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

::before {
  left: 0;
  top: 0;
} */

/* .slide-track {
  animation: scroll 50s ease-in-out infinite;
  display: flex;
  width: calc(250px * 14);

}

.word {
  font-size: 2vh;
  color: black;
} */


/* .slide {
  height: 50px;
  width: 250px;
  font-size: 4vh;
  padding-top: 2vh;

} */

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-250px * 7))
  }
}



.box {
  height: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;

}

.box::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.box::before::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.hello {
  font-size: 2vh;
  text-align: center;

}

/* div span {
  font-size: 3vh;
  text-align: center;

} */


.dot-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 10vh;
  width: 1vw;
  border-left: 2px dotted rgba(0, 0, 0, 0.5);
  font-size: 3vh;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1px;
  margin-top: 2vh;



}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  width: 10px;
  height: 10px;
  margin: 5px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}




ul {
  margin: 0;
  padding: 0;
  animation: scrollUp 2.0s .16s infinite forwards;
}

li {
  opacity: 1;
  height: 25px;
  padding: 10px;
  list-style: none;
  animation: scrollUp 2.0s .16s infinite forwards;
}

:root {
  --item-count: 6;
  --item: 1 / --item-count
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY((-100% / var(--item-count)) * (var(--item-count) - 1));
  }
}

.scroll-container {
  display: flex;
  justify-content: center;
}

.scroller {
  display: flex;
  justify-content: center;
  height: 3vw;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 30vw;
  font-size: 2.5vw;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding: 0;

}

.scroller span {
  position: absolute;
  top: 0;
  animation: slide 20s infinite;
  font-weight: bold;
  color: goldenrod;
  text-align: center;



}





.dev {
  text-align: center;
  font-size: 3vh;
  margin-top: 2vh;
  text-shadow: 5px 0 15px #878786d2;
}

@keyframes slide {
  0% {
    top: 0;
  }

  10% {
    top: -1.2em;
  }

  20% {
    top: -2.4em;
  }

  30% {
    top: -3.6em;
  }

  40% {
    top: -4.8em;
  }

  50% {
    top: -6.0em;
  }

  60% {
    top: -7.2em;
  }

  70% {
    top: -8.4em;
  }

  80% {
    top: -9.6em;
  }

  90% {
    top: -10.8em;
  }


}




/* .top {
  position: absolute;
  z-index: 1;
  width: 30vw;
  top: 0;
  left: 0;
  /* grid-column: 1/span 6;
  grid-row: 1;

  z-index: 1; */
/* 
} */

/* .middle {
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: 30vw;
  top: 0;
  left: 300px;
}

.bottom {
  position: absolute;
  z-index: 0;
  width: 45vw;
  top: 5px;
  left: 100px;
  /* grid-column: 4/-1;
  grid-row: 1; */
/* } */



/* .stack-container img {
  object-fit: cover;



} */

/* img .home {
  width: 20%;
  object-fit: cover;
}

.mid img {
  width: 250px;

  object-fit: cover
} */